<label for="category">Assistance Category</label>
<input id="category" name="category" type="text" class="ocs__input large gradient" placeholder="Example: transportation" required>
<label for="first-name">Volunteer First Name</label>
<input id="first-name" name="firstName" type="text" class="ocs__input small" placeholder="Example: Alex" autocomplete="given-name" required>
<label for="email">Volunteer Email</label>
<input id="email" name="email" type="email" class="ocs__input medium" placeholder="alex@example.com" autocomplete="email" required>
